.CodeMirror {
    /* Set height, width, borders, and global font properties here */
    font-family: monospace;
    height: 100%;
    color: black;
    direction: ltr;
  }
  .ai{
    margin: 10%;
  }


  .cm-s-material.CodeMirror {
    background-color: #1d262a;
    color: #EEFFFF;
  }